@page
@model RSSRendering.Pages.FavoritesModel
@{
    ViewData["Title"] = "Favorite Feeds";
}

<h1>Favorite Feeds</h1>

@if (Model.FavoriteRssItems.Count > 0)
{
    <div class="card-deck">
        @foreach (var item in Model.FavoriteRssItems)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">@Html.Raw(item.Description)</p>
                    <p class="card-text"><small class="text-muted">@item.PubDate</small></p>
                    <a href="@item.Link" class="btn btn-primary" target="_blank">Read More</a>
                    <a href="/?unstar=@item.Link" class="btn btn-secondary">Unstar</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No favorite feed found.</p>
}
